/* ======= GLOBAL ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
}

/* ======= LOGIN CONTAINER ======= */
form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  text-align: center;
  color: #4f46e5;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

input[type="email"], 
input[type="password"] {
  padding: 0.7rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
}

input:focus {
  border-color: #4f46e5;
  outline: none;
}

button {
  padding: 0.7rem 1rem;
  background-color: #4f46e5;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #4338ca;
}

.forgot_password {
  text-align: center;
  font-size: 0.85rem;
}

.forgot_password a {
  color: #4f46e5;
  text-decoration: none;
}

.forgot_password a:hover {
  text-decoration: underline;
}
